@using System.Drawing.Printing
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - UVM Department of Theatre</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/slider.js")
    @Scripts.Render("~/Scripts/nav.js")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="/Theatre/Index"><img id="logo" src="../../Content/Images/logo.png" alt="UVM Theatre"></a>
        <nav class="clearfix">
            <ul class="clearfix">
                <li id="home"><a href="/Theatre/Index">Home</a></li>
                <li><a class="@ViewBag.Show" href="/Shows">Shows</a></li>
                <li><a class="@ViewBag.Location" href="/Location">Location</a></li>
                <li><a class="@ViewBag.Archive" href="/Archive">Archives</a></li>
            </ul>
            <a href="#" id="pull">
                <img id="logo2" src="./../../Content/Images/logo.png" alt="UVM Theatre"> <img src="./../../Content/Images/nav-icon.png" id="menuIcon"></a>
        </nav>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <footer>
        <div id="follow">
            <p>
                &copy; @DateTime.Now.Year - <a target="_blank" href="//www.uvm.edu/theatre/">UVM Department of Theatre</a>
            </p>
            <a id="fb" target="_blank" href="//www.facebook.com/UVM-Department-of-Theatre-117967131563406/">
                <img src="./../../Content/Images/facebook.png" alt="Follow Us On Facebook!" />
            </a>
            <a id="ig" target="_blank" href="//www.instagram.com/uvm_theater/?hl=en">
                <img src="./../../Content/Images/instagram.png" alt="Follow Us On Instagram!" />
            </a>
        </div>
        <span class="sponsor border">ADD A Sponser</span>
    </footer>
</div>
@RenderSection("Scripts", required: false)
</body>
<script>
        $().ready(function(){
            $('.slider').bxSlider();
        });
</script>
</html>
