@model IEnumerable<UVM.Theatre.Domain.Models.Show>

@{
  ViewBag.Title = "title";
}

<h2>Shows</h2>
<section id="shows">
  <ol>
    @foreach (var show in @Model)
    {
      <li class="show border">
          <img src="@show.Image" alt="@show.Title"/>
          <h1>@show.Title</h1>
        <h2>@show.SubTitle</h2>
        <p>
          @show.Director <br/>
          @show.ShowDates <br/>
          @show.Description.Substring(0, 400)... @Html.ActionLink("(more)", "Show", new {Id=@show.ShowId} )
        </p>
          @Html.ActionLink("Tickets", "Show", new { Id = @show.ShowId}, new {@class="button"})
      </li>
    }
  </ol>
</section>